
  <%= render partial: 'partials/user', locals: { user: @user } %>
  <div class="bio">
    <h3>Bio</h3>
    <p><%=@user.bio%></p>
  </div>
  <div class="posts">
    <% @user.posts.limit(3).each do |post| %>
      <%= render partial: 'partials/post', locals: { post: post} %>
    <% end %>
  </div>
  <%= link_to "See All Posts", user_posts_path(@user), class: "btn" %>
</div>
