  <%= render partial: 'partials/user', locals: {user: @user} %>
   <% @user.posts.each do |post| %>
     <%= render partial: 'partials/post', locals: { post: post } %>
     <div class="all-comments">
    <% post.top_five_comments.each do |comment| %>
      <p><%=link_to comment.author, user_path(comment.author)%> :  <%=comment.text%></p>
    <% end %>
     </div>
   <% end %>
   <button>Pagination</button>

