
.bio {
	padding: 1rem;
	border: 1px solid black;
}

.bio h3 {
	margin-bottom: 1rem;
}

.post {
	border: 1px solid black;
	padding: 1rem;
	margin-bottom: 1rem;
}

.stats {
	text-align: right;
}

.btn {
	border: 2px solid black;
	text-decoration: none;
	padding: 0.5rem;
	align-self: center;
}
